html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-box {
    padding: 20px;
    width: 450px;;
    margin: 0 auto;
    height:450;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.heading {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
    text-align: center;
}

.column-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.column {
    width: calc(50% - 10px);
    margin: 5px;
    border: 1px solid #ccc;
    max-width: 250px;
    height: 250px;
}

label {
    font-weight: bold;
}

p {
    margin: 5px 0;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 10px;
}

#resultemotionname, #resultemotionname2 {
    font-weight: bold;
    font-size: 20px;
}

#updateemoji, #updateemoji2 {
    font-size: 36px;
    margin: 5px 0;
}
