body {
    font-family: Arial, sans-serif;
    background-color: #292929;
    color: #fff;
    text-align: center;
}

.container {
    margin: 50px auto;
    padding: 20px;
    background-color: #1a1a1a;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.center {
    text-align: center;
}

.heading {
    color: #FF9800;
    font-size: 28px;
    margin-bottom: 10px;
}

.emoji {
    font-size: 24px;
    margin-left: 5px;
}

.row-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.webcam-view {
    width: 250px;
    text-align: center;
    flex: 20%;
}

.snapshot {
    width: 250px;
    text-align: center;
    justify-content: center;
    align-items: center;
    height:450px;
    flex: 20%;
    margin-right: 20px;
}


.content-box {
    border: 2px solid #333;
    border-radius: 10px;
    height: 200px;
}

.capture-btn {
    display: block;
    width: 150px;
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #FF9800;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}


.capture-btn:hover {
    background-color: #F57C00;
}

.predictions {
    display: flex;
    flex-direction: column;
    flex: 20%;
    justify-content: center;
}

.prediction-box {
    text-align: center;
    margin-bottom: 20px;
}

.label, label {
    text-align: center;
}
