body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #333;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: #fff;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #222;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    animation: fadeIn 1s;
}

h1 {
    font-size: 28px;
    color: #007BFF;
    margin-bottom: 20px;
}

#get-started {
    animation: fadeIn 1s;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
}

.btn-primary {
    background-color: #007BFF;
    border: none;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3;
}

#chat-container {
    display: none;
    animation: fadeIn 1s;
}

#display-username {
    font-size: 18px;
    font-weight: bold;
    color: #007BFF;
}

#messages {
    max-height: 300px;
    overflow-y: auto;
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.input-group {
    margin-top: 20px;
}

input[type="text"] {
    border-radius: 0;
    border: none;
    border-bottom: 2px solid #007BFF;
    background-color: transparent;
    color: #fff;
}

.btn-primary {
    border-radius: 0;
    margin-left: -2px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
    margin-right: 10px;
}

.message {
    border-radius: 8px;
    padding: 8px;
    display: inline-block;
    flex-direction: column;
    word-wrap: break-word;
    background-color: #007BFF;
    align-items: flex-start;
}

.message.sender {
    color: #fff;
    text-align: right;
    align-self: flex-end;
    margin-left: auto;
}

.message.receiver {
    color: #fff;
    text-align: left;
    align-self: flex-start;
    margin-right: auto;
}

.timestamp {
    font-size: 12px;
    color: #777;
    text-align: right;
    margin-left: auto;
    margin-right: 5px;
}

.username {
    font-weight: bold;
    color: black;
    margin-bottom: 0;
    flex-direction:row-reverse;
    margin-left: auto;
}

.message-text {
    word-wrap:break-word;
    max-width:50%;
    color: #000; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.message-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 10px;
}
